menu "control stationconfig"

    config EXAMPLE_IPV4
        bool "IPV4"
        default y

    config EXAMPLE_IPV6
        bool "IPV6"
        default n
        select EXAMPLE_CONNECT_IPV6

    config PORT_SERVER
        int "Port"
        range 0 65535
        default 5010
        help
            Local port the example server will listen on.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config MQTT_SERVER
        string "MQTT server"
        default "mqtt://192.168.0.100:1883"
        help
            MQTT server addres

    config OPEN_WEATHER_API_KEY
        string "KEY FOR OpenWheather"
        default ""
        help
            Enter key for Open wheather; get from https://openweathermap.org/price
            
    config ESP_DPP_LISTEN_CHANNEL_LIST
        string "DPP Listen channel list"
        default "6"
        help
            DPP Bootstrapping listen channels separated by commas.

    config ESP_DPP_BOOTSTRAPPING_KEY
        string "Bootstrapping key"
        help
            64 hex digits (or 32 bytes) of raw private key for DPP Bootstrapping.

    config ESP_DPP_DEVICE_INFO
        string "Additional Device Info"
        default "esp32"
        help
            Additional ancillary information to be included in QR Code.

endmenu
